/* Estilos GLobais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-purple {
    background-color: #5019D4 !important;
    color: white;
}
.btn-purple:hover {
    color: whitesmoke;
}
.btn-outline-black {
    background-color: #fff;
    border-color: black;
    border-width: 1px 4px 4px 1px;
    transition: all 0.2s;
}
.btn-outline-black:hover {
    transform: scale(1.02);
    border-color: black;
    border-width: 1px 4px 4px 1px;
}
body {
    background-color: #fff !important;
    display: flex;
}
.input {
    border: none;
    background-color: #EBEBEB;
}
.input-group {
    background-color: #EBEBEB;
    border-radius: 1rem;
}
main {
    width: 100%;
}
.menu {
    background-color: #5019D4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .balance {
    background-color: #5019D4;
    border-radius: 1.6rem;
    padding: 2rem;
}
.card {
    background-color: rgb(244, 244, 244);
    transition: all 0.2s;
}
.card:hover {
    transform: scale(1.02);
}
.nameUser {
    opacity: 0.4;
}
.btn-add {
    position: absolute;
    bottom: 40px;
    right: 40px;
}